<div class="footer-basic">
    <footer>
        <div class="social" style="padding-bottom: 0px;"><a href="http://linkedin.com/in/fergalbrophy"><i
                    class="icon ion-social-linkedin" style="color: #0e76a8;"></i></a><a
                href="https://www.youtube.com/channel/UC1wqTph0xxVtpY6LNFTmTxA"><i class="icon ion-social-youtube"
                    style="color: #FF0000;"></i></a>
            <a href="https://www.slideshare.net/fergalbrophy5"><i class="fab fa-slideshare"
                    style="color: #0077B5;"></i></a>
        </div>
    </footer>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="assets/js/script.min.js"></script>
</body>

</html>