<footer style="padding-top: 20px;" class="fixed-bottom;">
    <table style="margin:auto;">
        <tr>
            <td>
                    <p>Created for <img class="footerImg" src="/images/footer.png"></p>
            </td>
            <!-- <td style="vertical-align: baseline;">
                    <form onsubmit="return confirm('Do you really want to submit the form?');"  action="/delete" method="POST">
                        <button type="submit" class="footerbtn" type="submit">
                            | Delete
                        </button>
                        </form>
            </td> -->
        </tr>
    </table>
</footer>

</body>
</html>