@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

.navbar-brand{
  height: 2rem;
  width: auto;
}

a.nav-link{
  text-align: right;
  margin-right: 0;
}

ul.navbar-nav.ml-auto{
  margin-right: 2.5rem;
}

.navbar{
  padding: 0 0 .3rem 0;
  border-bottom: 1px solid black;
}

.navbar-collapse{
  background-color: #fff;
}

.navbar-nav li{
  padding-right: 1.3rem;
}

a.nav-link:hover{
  border-bottom: 1px solid black;
}

.nav-link{
  font-size: 1.2em !important;
  margin-right: 2rem;
  font-family: 'Lato', sans-serif;
  padding: .2rem 1rem; 
}

.info-text{
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-size: 14px;
}

/* body{
  background-color:#efe5f9;
} */

.mainForm{
  padding-bottom: 20px;
  padding-top: 3rem;
}

.tech-img{
  max-height: 4rem;
  margin: 0.6rem;
}

.middle {
  margin: auto;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  font-size:10px;
  margin: 0 10px;
}



option{
  line-height: 20px;
}

.caption {
  display: block;
}

.spacing{
  padding-top: 15px;
}

.subtitle{
  /* color: #6601c6; */
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
  font-weight: 500;
}

.subheading{
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}


.btn-color{
  /* background-color: #6601c6; */
  color: #efe5f9;
}

/* .formCtn, .ipborder{
  -moz-box-shadow: 1px 1px 3px 2px #6601c6;
-webkit-box-shadow: 1px 1px 3px 2px #6601c6;
box-shadow:         1px 1px 3px 2px #6601c6;
} */

  .footerbtn {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}
.logo-img{
  max-height: 152px;
  margin-top:1rem;
}

.footerImg{
  max-height:40px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 920px) {
    .logo-img{
        max-height: 70px;
        margin-bottom: 25px;
        margin-top: 2rem;
      }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo-img{
  max-height: 50px;
  margin-bottom: 25px;
  margin-top: 2rem;
}

.nav-link{
  font-size: 0.8em !important;
}

div.item{
  margin:0 5px;
}

} 