@import url('https://fonts.googleapis.com/css?family=Lato|Istok+Web|Special+Elite&display=swap');
.logo-m{
  width:100px;
  height:auto;
  margin-left: 4rem;
}  

nav{
  border-bottom: 1px solid;
  margin-bottom: 4rem;
}

.nav-item{
  margin-right:4rem;
}

.game-box-custom{
  height: 540px;
  width: auto;
}

.hiw-1{
  color: #ac2430;
  border: 1px solid #ac2430;
   
}

.hiw-2{
  color: #de5430;
  border: 1px solid #de5430;
   
}
.hiw-3{
  color: #debb30;
  border: 1px solid #debb30;
   
}
.hiw-4{
  color: #009949;
  border: 1px solid #009949;
   
}
.hiw-5{
  color: #286aa6;
  border: 1px solid #286aa6;
   
}

.hiw-6{
  color: #a6286c;
  border: 1px solid #a6286c;
   
}

.nav-link {
  font-size: 1.2em !important;
  margin-right: 2rem;
  font-family: 'Lato', sans-serif;
  padding: .2rem 1rem;
}
.creative-img{
  width: 350px;
  margin: 5rem 0;
}

.logo-img{
  height: auto;
  width: 250px;
  margin: 25px 0px;
  }
  .main-title{
    font-size:35px;color:blueviolet;
    margin:2rem 0;
    font-family: 'Lato', sans-serif;
  }


  .game-box{
    padding: 10px;
    min-height: 270px;
    border-radius:25px; 
  }

  .playbtn{
    position: absolute;
    bottom: 20px;
    right: 50px;
  }

  .smbox-text{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

  .box-text{
    margin: 20px 0px;
    font-family: 'Lato', sans-serif;
  }
  .challenges-container{
    margin: 2rem 0;
  }

  .sm-title{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
  }

  .fade-effect{
    /* background-color: #f3f4f1; */
    animation: fadein 2s ease-in;
    -moz-animation: fadein 2s ease-in; /* Firefox */
    -webkit-animation: fadein 2s ease-in; /* Safari and Chrome */
    -o-animation: fadein 2s ease-in; /* Opera */
  }

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.line {
	/* position needed? */
  font-family: 'Special Elite', cursive;
	position: relative;
	width: 18em;
	top: 50%;
	margin: auto;
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	font-size: 20px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter {
	animation: typewriter 4s steps(43) 1s 1 normal both,
	blinkTextCursor 500ms steps(43) infinite normal;
}

@keyframes typewriter {
	from {
		width:0;
	}
	to {
		width: 18em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}



  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 920px) {
    .main-title{
    font-size:25px;
  }

  .game-box{
    margin-bottom: 2rem;
  }

  .logo-img{
  height: auto;
  width: 150px;
  margin: 25px 0px;
  }

  .logo-m{
    width:60px;
    height:auto;
    margin-left: 2rem;
  }  

  .creative-img{
    width: 350px;
    margin: 2rem 0;
  }
  .game-box-custom{
    height: 440px;
    width: auto;
  }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
.main-title{
    font-size:20px;
  }

  .game-box{
    margin-bottom: 2rem;
  }

  .playbtn{
    bottom: 50px;
  }

  .logo-m{
    width:60px;
    margin-left: 8rem;
  }  

  .creative-img{
    width: 150px;
    margin: 2rem 0;
  }

  .game-box-custom{
    height: 340px;
    width: auto;
  }
  li.nav-item{
    font-size:0.8rem;
    margin-right: 2rem;
  }
}
