.hiw-underline{
    border-bottom: 2.5px solid;
}

h5 {
    margin: 1.8rem 0 0.5rem 0;
    font-weight: 500;
    font-size: 1rem;
}

.hiw-info{
    padding: 0rem 2.3rem;
}

.hiw-container{
    padding: 3rem;
}

