<!DOCTYPE html>
<html>

<head>
    <title>Main Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" type="text/css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top"><a href="http://gradinnovators.com/"><img
                class="logo-m" src="/images/open-logo.jpg" /></a>
    </nav>
    <div class="topdiv">
        <div class="text-center" style="padding-top:6rem;">
            <h1 class="display-5">Innovation & Creativity Challenges</h1><br>
            <h6 class="display-5">On Demand, Interactive, Revealing.</h5>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 card">
                    <div class="row card-row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <img src="/images/logo.png" class="logo-img"><br>
                            <p class="box-text">Flex your creative 💪. Combine everyday objects with emerging tech to
                                create something new, something crazy.</p>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 innerdiv">
                            <a href="/crazyCombinations"><img class="playbtn" src="/images/play1.png"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 card">
                    <div class="row card-row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <img src="/images/iC.png" style="min-height:55px;margin-bottom:5px;" class="logo-img"><br>
                            <p class="box-text">Innovate or Die! Quickly create a new 💡 that has potential value for
                                your organization.</p>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 innerdiv">
                            <a href="/innovationChallenge"><img class="playbtn" src="/images/play2.png"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 card">
                    <div class="row card-row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <img src="/images/reimagine.png" class="logo-img"
                                style="height: 60px;width: auto;margin-bottom: 0px;">
                            <br>
                            <p class="box-text">Repurpose and upcycle everyday objects in as many ways as you can in
                                just 3 minutes ⏰.</p>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 innerdiv">
                            <img class="playbtn" src="/images/play3.png">
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>


    <div class="container" style="margin-bottom:2rem;">
        <div class="text-center" style="padding-top:6rem;">
            <h1 class="display-5" style="margin-bottom:3rem;">Quizzes</h1>
        </div>
        <div class="row">
            
            <div class="col-lg-5 col-md-5 col-sm-12" style="margin:auto;">
                <div class="game-box">
                    <!-- <p class="smbox-text sm-title">TAKE OUR</p>
            <p class="smbox-text sm-title">INNOVATION CHECKUP</p> -->
                    <!--Innovation Checkup Code-->
                    <script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://embed.playbuzz.com/sdk.js'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'playbuzz-sdk'));</script>

                    <div class="playbuzz" data-id="12b4e05f-975b-436b-bb19-655754926593" data-show-info="false"
                        data-show-share="false"></div>
                </div>
            </div>

            <div class="col-2"></div>
            <div class="col-lg-5 col-md-5 col-sm-12 text-center">
                <div class="game-box game-box-custom">
                    <!-- <div class="iframe-container">
                    <iframe width="460" height="500" src="https://mycreativetype.com/share/visionary/"></iframe>
                  </div>               -->
                    <img class="col-12 creative-img" src="/images/creativetypes.png">
                    <a href="https://mycreativetype.com/share/visionary/"><img src="/images/startbtn.png"
                            class="vert-move" /></a>
                    <p class="smbox-text sm-title">Creativity Checkup</p>
                    <p class="sm-infotext">Discover your creative personality.</p>
                    <img class="adobe-btn" src="/images/adobe.png">
                </div>

            </div>
            
        </div>
    </div>

</body>

</html>