<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  
</head>
<body class="fade-effect">
     <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top"><a href="http://gradinnovators.com/"><img class="logo-m" src="/images/open-logo.jpg" /></a>
      </nav>
  <div class="text-center" style="margin-top:5rem;">
      <h1 class="display-5">INNOVATION & CREATIVITY CHALLENGES</h1><br>
        <h6 class="display-5">On Demand, Interactive, Revealing</h5>
      </div>
  <div class="container">
      <div class="row text-center challenges-container">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="game-box hiw-1">
          <img src="/images/logo.png" class="logo-img">
          <p class="box-text">Combine objects with emerging tech to create something new.</p>
          <a href="/crazyCombinations" class="btn btn-danger playbtn">Play <i class="fas fa-play"></i></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="game-box hiw-2">
                <img src="/images/reimagine.png" class="logo-img" style="height: 60px;width: auto;">
          <p class="box-text">Repurpose objects in many ways.</p>
          <strong class="playbtn">Coming Soon.</strong><br>
          <!-- <a href="#" class="btn btn-danger playbtn">Play <i class="fas fa-play"></i></a> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="game-box hiw-3">
          <img src="/images/innoChallenge-logo.png" class="logo-img">
          <p class="box-text">Create an innovative idea for your business.</p>
          <a href="/innovationChallenge" class="btn btn-danger playbtn">Play <i class="fas fa-play"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:2rem;">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-5 col-md-5 col-sm-12" style="margin:auto;">
          <div class="game-box hiw-4">
            <!-- <p class="smbox-text sm-title">TAKE OUR</p>
            <p class="smbox-text sm-title">INNOVATION CHECKUP</p> -->
            <!--Innovation Checkup Code--><script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src='https://embed.playbuzz.com/sdk.js';fjs.parentNode.insertBefore(js,fjs);}(document,'script','playbuzz-sdk'));</script>

<div class="playbuzz" data-id="12b4e05f-975b-436b-bb19-655754926593" data-show-info="false" data-show-share="false"></div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
            <div class="game-box hiw-5 game-box-custom">
                <div class="iframe-container">
                    <iframe width="460" height="500" src="https://mycreativetype.com/share/visionary/"></iframe>
                  </div>
                <!-- <iframe src="https://mycreativetype.com/share/visionary/" height="500vh" width="500vh" frameborder="no" scrolling="yes">
                </iframe>               
               <a href="https://mycreativetype.com/share/visionary/"><img class="creative-img" src="/images/creativetypes.png"></a>
               <p class="smbox-text sm-title">CREATIVE TYPES</p> 
               <p class="smbox-text"><a style="text-decoration:none;" href="https://mycreativetype.com/share/visionary/">DISCOVER YOUR <br>CREATIVE PERSONALITY</a></p>  -->
            </div>
            
        </div>
        <div class="col-1"></div>
      </div>
    </div>

</body>
</html>