<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .logo-img{
  max-height: 82px;
  }
  .main-title{
    font-size:35px;color:blueviolet;margin-bottom:30px;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 920px) {
    .logo-img{
        max-height: 70px;
      }
      .main-title{
    font-size:25px;color:blueviolet;margin-bottom:30px;
  }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo-img{
  max-height: 50px;
}
.main-title{
    font-size:20px;color:blueviolet;margin-bottom:30px;
  }
  </style>
</head>
<body>
  <div class="container">
        <h4 class="main-title">Welcome to Open innovation Challenges</h4>
        <a href="/crazyCombinations"><img src="/images/logo.png" class="logo-img"></a>
        <hr>
        <a href="/innovationChallenge"><img src="/images/innoChallenge-logo.png" class="logo-img"></a>
        <hr>
        <h4>Re Imagine (Coming soon...)</h4>
    </div>

</body>
</html>