<% include ../partials/header %>
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top"><a href="index.html"><img class="logo-m"
      src="/image/challenges/open-logo.jpg" /></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" style="padding-right: 1.3rem;font-family: 'Lato', sans-serif;color: #222;"><a class="nav-link"
        href="/challenges">Return to challenges</a></li>
  </ul>
</nav>

<section id="one" style="margin-top: 4rem;">
  <div class="container">
    <div>
      <p style="text-align:left;" class="subheading">Instructions</p>
      <p style="font-size:1rem;text-align:justify;">Reimagine challenges you to creatively and imaginatively identify up
        to 24 alternative uses for a given everyday object as you can in just 3 minutes. When you hit the green ‘Start 3
        Minute Challenge’ button below you will be presented with a given object and the countdown clock will commence
        automatically. When your time runs out you will be unable to enter any more uses. Simply click the red ‘Submit
        your Alternative Uses’ button to complete the challenge.</p>
    </div>
    <div class="text-center">
      <button class="btn btn-success btn-lg" id="startBtn" onclick="getRandomImgName();">Start 3 Minute Challenge</button>
    </div>
  </div>
</section>

<section id="two" class="container" style="display:none">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
      <!-- <h5 style="text-align: left">Object:</h5> -->
      <img id="objImg">
      <div id="timer">Timer:<b><span id="time1"></span></b> </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
        </div>
        <div class="col-lg-4 col-md-12">
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
        </div>
        <div class="col-lg-4 col-md-12">
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
          <input type="text" class="form-control myinputs" id="imagination" placeholder="Enter your Imagination" />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <button type="submit" class="btn btn-danger btn-lg" id="riSubmit">Submit your Alternative Uses</button>
      </div>
    </div>
  </div>
</section>

<!-- The Modal -->
<div class="modal" id="submissionModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Submit your answers</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="username">Enter you name/team Name:</label>
          <input type="text" class="form-control" name="userName" id="userName" required />
        </div>
        <a class="btn btn-success btn-lg" id="finalSubmit">Submit</a>
      </div>

    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="confirmationModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body" id="confirmationModalBody">
        Your Data has been saved. Navigating you to challenges page.....
      </div>

    </div>
  </div>
</div>

<link rel="stylesheet" href="/css/reImagine.css" type="text/css">
<script src="/js/timerClock.js"></script>
<script src="/js/reImagine.js"></script>

<script>
  function getRandomImgName() {
    var images = ['Fork', 'Brick', 'Ball', 'Clip'];
    var randomNumber = Math.floor(Math.random() * images.length);
    var img = document.getElementById("objImg")
    img.setAttribute("src","/reImagine/getImg/"+images[randomNumber])
    img.setAttribute("alt",images[randomNumber])
  }
</script>