<% include ../partials/header %>
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top"><a href="index.html"><img class="logo-m"
      src="/image/challenges/open-logo.jpg" /></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" style="padding-right: 1.3rem;font-family: 'Lato', sans-serif;color: #222;"><a class="nav-link"
        href="/challenges">Return to challenges</a></li>
  </ul>
</nav>

<section id="one" style="margin-top: 4rem;">
  <div class="container">
    <div class="text-center">
      Welcome to Re-Imagine App
    </div>
    <div class="form-group">
      <label for="username">Enter you name/team Name:</label>
      <input type="text" class="form-control" name="userName" id="userName" />
    </div>
    <button class="btn btn-danger btn-lg" id="btn">START</button>
  </div>
</section>

<section id="two" class="container" style="display:none">
    <p class="text-center">Hello <b id="welcomeText"></b>, Be Creative !</p>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="/image/telephone-1.png" alt="phone" id="objImg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div><b>Time Remaining:</b> <span id="time1"></span> minutes!</div>
      <textarea id="imaginations" name="comment" class="form-control" rows="7"
        placeholder="Enter Imaginations here"></textarea>
    </div>
  </div>

  


</section>

<style>
  #objImg {
    max-width: 300px;
    max-height: 300px;
  }

  #one{
    margin-bottom: 1rem;
  }
</style>

<script>
  $('#btn').on('click', function () {
    var userName = document.getElementById('userName').value;
    console.log(userName);
    document.getElementById("welcomeText").innerHTML = userName;
    var imgName = document.getElementById("objImg").getAttribute("alt");
    
    $('#two').show('slow');
    $('#one').show('hide');
    var display1 = document.querySelector('#time1'),
      timer = new CountDownTimer(300);

    timer.onTick(format1).start();

    function format1(minutes, seconds) {

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;
      display1.textContent = minutes + ':' + seconds;
      if (minutes == 00 && seconds == 00) {
        wait(3000);
        console.log(userName);
        console.log(imgName);
        var imagineData = document.getElementById('imaginations').value;
    console.log("Imagined Data here"+imagineData);
        $.ajax
          ({
            type: "POST",
            url: "/reImagine/submit",
            data: {
              name: userName,
              imgObj: imgName,
              imaginations: imagineData
            }
          }).done(function (data) {
            alert(data);
            window.location.href = "http://localhost:3000/challenges";
          })

      }
    }
  });

  function CountDownTimer(duration, granularity) {
    this.duration = duration;
    this.granularity = granularity || 1000;
    this.tickFtns = [];
    this.running = false;
  }

  function wait(ms) {
    var start = new Date().getTime();
    var end = start;
    while (end < start + ms) {
      end = new Date().getTime();
    }
  }

  CountDownTimer.prototype.start = function () {
    if (this.running) {
      return;
    }
    this.running = true;
    var start = Date.now(),
      that = this,
      diff, obj;

    (function timer() {
      diff = that.duration - (((Date.now() - start) / 1000) | 0);

      if (diff > 0) {
        setTimeout(timer, that.granularity);
      } else {
        diff = 0;
        that.running = false;
      }

      obj = CountDownTimer.parse(diff);
      that.tickFtns.forEach(function (ftn) {
        ftn.call(this, obj.minutes, obj.seconds);
      }, that);
    }());
  };

  CountDownTimer.prototype.onTick = function (ftn) {
    if (typeof ftn === 'function') {
      this.tickFtns.push(ftn);
    }
    return this;
  };

  CountDownTimer.prototype.expired = function () {
    return !this.running;
  };

  CountDownTimer.parse = function (seconds) {
    return {
      'minutes': (seconds / 60) | 0,
      'seconds': (seconds % 60) | 0
    };
  };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

