<% include ../partials/header %>
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top"><a href="index.html"><img class="logo-m"
      src="/image/challenges/open-logo.jpg" /></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" style="padding-right: 1.3rem;font-family: 'Lato', sans-serif;color: #222;"><a class="nav-link"
        href="/challenges">Return to challenges</a></li>
  </ul>
</nav>

<!-- <section id="one" style="margin-top: 4rem;">
  <div class="container">
    <div class="text-center">
      Welcome to Re-Imagine App
    </div>
    <button class="btn btn-danger btn-lg" id="startBtn">START</button>
  </div>
</section> -->

<section id="two" class="container" style="display:none">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
      <!-- <h5 style="text-align: left">Object:</h5> -->
      <img src="/reImagine/getImg" alt="phone" id="objImg">
      <div id="timer">Timer:<b><span id="time1"></span></b> </div>
      <button type="submit" class="btn btn-success btn-lg" id="riSubmit">Submit</button>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <input type='button' class="btn btn-success" value='Add Imagination' id='addButton' />
      <input type='button' class="btn btn-danger" value='Remove Last Imagination' id='removeButton' />
      <div class="form-horizontal">
        <div class="control-group" style="margin-top:0.5rem;">
          <div class="controls">
            <input type="text" class="form-control myinputs" id="imagination" />
          </div>
        </div>
      </div>
      <!-- <textarea id="imaginations" name="comment" class="form-control" rows="7"
          placeholder="Enter Imaginations here"></textarea> -->
    </div>
  </div>
</section>

<!-- The Modal -->
<div class="modal" id="submissionModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Submit your answers</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="username">Enter you name/team Name:</label>
          <input type="text" class="form-control" name="userName" id="userName" required />
        </div>
        <a class="btn btn-success btn-lg" id="finalSubmit">Submit</a>
      </div>

    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal" id="instructionModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Instructions before ReImagine Activity:</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" id="startBtn">Start</button>
        <a class="btn btn-danger" href="/challenges">Go Back</a>
      </div>

    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="confirmationModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
       <!-- Modal body -->
        <div class="modal-body" id="confirmationModalBody">
          Your Data has been saved. Navigating you to challenges page.....
        </div>
  
      </div>
    </div>
  </div>

<link rel="stylesheet" href="/css/reImagine.css" type="text/css">
<script src="/js/timerClock.js"></script>
<script src="/js/reImagine.js"></script>