<% include ../partials/header1 %>
<link rel="stylesheet" href="assets/css/index-styles.css">


</section> -->
<section class="d-inline-flex d-xl-flex justify-content-xl-center align-items-xl-center" style="background-image: url(&quot;assets/img/mainBg.jpg&quot;);height: 527px;background-size: cover;background-repeat: no-repeat;filter: blur(0px);opacity: 1;">
    <div class="row d-inline-flex d-xl-flex" style="margin: 150px -20px;">
        <div class="col-md-8 offset-md-2 text-center align-self-center" >
            <h1 class="display-4 text-center d-table-row" data-aos="fade-right" data-aos-duration="400" data-aos-delay="300" data-aos-once="true" style="color: rgb(249,249,249);filter: contrast(104%);font-size: 48px;line-height: 47px;width: 690px;margin-bottom: 40px;">Unleash your creative talent to exploit opportunities & solve problems</h1>
             </div>
    </div>
</section>


<div style="padding: 35px 25px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left" style="margin-bottom: 0px;">
                <h1 class="display-4" data-aos="fade-right" data-aos-delay="500" data-aos-once="true"
                    style="font-size: 52px;color: #222;">
                    <strong>Our Innovation Sprints</strong></h1>
                <p data-aos="fade" data-aos-once="true"
                    style="margin-bottom: 8px;font-size: 16px;color: #333333;">Our
                    InnovSprints are&nbsp;high energy, immersive problem-solving experiences&nbsp;designed to
                    get&nbsp;the very&nbsp;best out&nbsp;of your people. Your employees will &nbsp;create
                    solutions that address real-world problems
                    and opportunities in your business. Along the way they&nbsp;will&nbsp;foster&nbsp;empathy,&nbsp;critical
                    thinking,&nbsp;ideation,&nbsp;curiosity,&nbsp;collaboration and communication skills.<br></p>
                <p data-aos="fade" data-aos-once="true"
                    style="font-size: 16px;color: #333333;">Sprint Preparation is key to
                    success. We are on-hand to advise you on themes/domains that your teams will tackle and the How
                    Might We (HMW) framing that works best. We help you make decisions on Sprint&nbsp;duration (may vary
                    from
                    a&nbsp;half-day to say 20 or 30 hours in total over several weeks), Sprint format (in-person,
                    remote, blended), team formation, Sprint venue and the composition of your&nbsp;judging panel.</p>
            </div>
        </div>
    </div>
</div>
<div style="padding: 40px;background-image: url(&quot;assets/img/primark.jpg&quot;);">
    <div class="container">
        <div class="row" style="background-color: rgba(252,252,252,0);filter: hue-rotate(0deg);opacity: 0.79;">
            <div class="col" style="background-color: rgba(255,255,255,0);"></div>
            <div class="col d-flex" style="background-color: #ffffff;padding: 25px;filter: brightness(97%);">
                <blockquote class="blockquote">
                    <p class="text-left mb-0"
                        style="opacity: 1;font-family: Roboto, sans-serif;color: #222222;font-size: 18px;">“Fergal
                        unleashed the very best of talent from our young, vibrant team during the Sprint..who got out
                        and talked with our customers, brought fantastic ideas to life, progressed where they were
                        easily implemented to add real commercial
                        value...teams loved impacting on business strategy and were energized by the collaborative
                        cross-functional, customer-centric and inspiring nature of the event.”</p>
                    <footer class="blockquote-footer"
                        style="font-family: Roboto, sans-serif;margin-top: 10px;color: rgb(5,14,23);filter: brightness(0%);">
                        <em>Ann-Marie Cregan, Director of Buying &amp; Merchandising, Primark</em></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div style="padding: 30px 40px 0px 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left" style="margin-bottom: 20px;">
                <h1 class="display-4" data-aos="fade-right" data-aos-delay="450" data-aos-once="true" style="margin: 20px 0px;font-size: 52px;">Crafting a wow innovation experience<br></h1>
                <p data-aos="fade" style="margin-bottom: 8px;font-size: 16px;">Our ultimate goal is to ensure that your temporary innovation teams deliver outcomes that exceed expectations. Our InnovSprints have&nbsp;been created, adapted and honed over literally hundreds of Sprints.&nbsp;Your emerging innovators
                    are uniquely combined with our expert coaches and&nbsp;coached feedback, Sprint Preparation and appropriate structure, tools &amp; pacing to make your Sprint event unique. Together we craft a wow innovation experience that energises,
                    engages and delivers real solutions to real issues in your business.<br></p>
            </div>
        </div>
    </div>
</div>
<!--How Innovation Sprint Works Section-->
<div class="hiw-container container" id="innoSprints">
    <div class="row welcome text-center" style="padding-top: 1rem;">
        <div class="col-12" style="padding-top: 0rem;padding-bottom:2rem;">
            <h2 class="display-5">How Sprints Work</h2>
        </div>
    </div>
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 hiw-b">
            <h2 class="display-3 color-1"><span class="hiw-underline">1</span></h2>

            <h5><b class="hiw-title">THE BIG ISSUES</b></h5>

            <p class="hiw-info">Management identify product, service, process or system&nbsp;problems or opportunities in your
                business.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 hiw-b">
            <h2 class="display-3 color-2"><span class="hiw-underline">2</span></h2>

            <h5><b class="hiw-title">YOUR FUTURE&nbsp;INNOVATORS</b></h5>

            <p class="hiw-info">Teams, remote&nbsp;or in-person,&nbsp;tackle &nbsp;problems&nbsp;using design thinking,<br />
                agile innovation and lean startup.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 hiw-b">
            <h2 class="display-3 color-3"><span class="hiw-underline">3</span></h2>

            <h5><b class="hiw-title">DISCOVER, DEFINE &amp; IDEATE</b></h5>

            <p class="hiw-info">Teams quickly discover what customers &amp; stakeholders want. Then figure out compelling solutions.
            </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 hiw-b">
            <h2 class="display-3 color-4"><span class="hiw-underline">4</span></h2>

            <h5><b class="hiw-title">THE FUN PART</b></h5>

            <p class="hiw-info">They move on to rapidly prototype, develop a business model, test &amp; iterate
                their&nbsp;proposed&nbsp;solutions.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 hiw-b">
            <h2 class="display-3 color-5"><span class="hiw-underline">5</span></h2>

            <h5><b class="hiw-title">YOU&#39;LL NEVER WALK ALONE</b></h5>

            <p class="hiw-info">Experienced mentors, subject experts &amp; peers push&nbsp;teams to work to&nbsp;timelines that suit
                your&nbsp;business.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 hiw-b">
            <h2 class="display-3 color-6"><span class="hiw-underline">6</span></h2>

            <h5><b class="hiw-title">PITCH &amp; ASK</b></h5>

            <p class="hiw-info">Your&nbsp;teams pitch their tested solutions to management &amp; recommend next steps.</p>
        </div>
    </div>
</div>


<div class="flex-shrink-1"
    style="padding: 40px;background-image: url(&quot;assets/img/metlife.jpg&quot;);background-repeat: no-repeat;background-size: cover;background-position: top;">
    <div class="container">
        <div class="row" style="background-color: rgba(252,252,252,0);filter: hue-rotate(0deg);opacity: 0.79;">
            <div class="col"></div>
            <div class="col" style="padding: 25px;background-color: #ffffff;font-family: Lato, sans-serif;">
                <blockquote class="blockquote">
                    <p class="text-left mb-0"
                        style="opacity: 1;font-family: Roboto, sans-serif;color: #222222;font-size: 18px;">Open’s unique
                        InnovSprint process is&nbsp;brilliant &amp;&nbsp;proven..mixing and matching design thinking,
                        agile, lean &amp;&nbsp;business model innovation..they&nbsp;created a safe environment where
                        our&nbsp;cross-functional
                        teams collaborated&nbsp;so effectively&nbsp;to pitch solutions&nbsp;that had real value for our
                        finance shared service business. I couldn’t recommend it highly enough.</p>
                    <footer class="blockquote-footer"
                        style="font-family: Lato, sans-serif;margin-top: 10px;color: rgb(5,14,23);"><em>Wayne Gibbons,
                            Finance Director, MetLife</em><br></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer2 %>