<% include ../partials/ic-header %>
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="padding: 0;">
    <!-- <a href="index.html"> -->
      <div class="container">
          <span>
      <img src="/image/challenges/sustainableSolution/susSol-logo.jpg" style="max-height: 3rem;"><b style="font-size: 1.5rem; ">  Sustainable Solutions</b></span>
      <img style="max-width: 170px; margin-right: 1.2rem;" src="/image/case-4.png" />
    </div>
    <!-- </a> -->
    <!-- <ul class="navbar-nav ml-auto"> -->
      <!-- <li class="nav-item"><a class="nav-link" href="/challenges">Return to challenges</a></li> -->
    <!-- </ul> -->
  </nav>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top"><a href="index.html"><img class="logo-m"
                src="/image/challenges/open-logo.jpg" style="padding-left:4rem;" /></a>
        <ul class="navbar-nav ml-auto" >
            <li class="nav-item"
                style="padding-right: 5rem; font-size: 2rem;font-family: 'Lato', sans-serif;color: #222;">
                <img src="/image/challenges/sustainableSolution/susSol-logo.jpg" style="max-height: 3rem;"> Sustainable
                Solution</li>
        </ul>
    </nav> -->

<div class="container position">
    <!-- <img src="/image/challenges/innoChallenge-logo.png" class="logo-img"> -->
    <div class="row spacing" style="padding-top:3rem;">
        <div class="col-md-5 col-sm-12 text-center">
            <p class="subtitle"><b>Greenhouse Gases</b></p>
            <div style="margin: auto;">
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/car.png" class="tech-img1">
                    <span class="caption">Cars</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/homeEnergy.png" class="tech-img1">
                    <span class="caption">Home Energy</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/dairy.png" class="tech-img1">
                    <span class="caption">Meat, Dairy, Eggs</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/wasteWater.png" class="tech-img1">
                    <span class="caption">Water & Waste</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/plasticDoc.png" class="tech-img1">
                    <span class="caption">Plastic & Paper</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/clothes.png" class="tech-img1">
                    <span class="caption">Clothes</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/travel.png" class="tech-img1">
                    <span class="caption">Travel(Air,Train,Bus)</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/house.png" class="tech-img1">
                    <span class="caption">Buildings</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 middle" style="text-align: center; font-size: 10rem;font-weight: bold;">+
        </div>
        <div class="col-md-5 col-sm-12" style="text-align: center;">
            <p class="subtitle"><b>Waste Management Tools</b></p>
            <div style="margin: auto;">
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/reduce.png" class="tech-img1">
                    <span class="caption">Reduce</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/reuse.png" class="tech-img1">
                    <span class="caption">Reuse</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/repair.png" class="tech-img1">
                    <span class="caption">Repair</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/recycle.png" class="tech-img1">
                    <span class="caption">Recycle</span>
                </div>
                <div class="item">
                    <img src="/image/challenges/sustainableSolution/other.png" class="tech-img">
                    <span class="caption">Other</span>
                </div>


            </div>
        </div>
    </div>

    <%if (length < 200) { %>
    <!-- <p class="subtitle" style="padding-top: 20px;">COMBINATION & ASSOCIATION IDEA</p> -->
    <!--Form for idea-->
    <form class="mainForm" id="ic-form" onsubmit="return confirm('Do you really want to submit the form?');"
        action="/sustainableSolution" method="POST">

        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12 middle">
                <div class="form-group">
                    <!-- <label for="sel1">SELECT EVERYDAY OBJECT</label> -->
                    <select class="form-control ipborder" id="everyDayObj" name="everyDayObject"
                        style="font-size:1.3rem;" required>
                        <option value="">Mix...</option>
                        <option>Cars</option>
                        <option>Home Energy</option>
                        <option>Meat, Dairy, Eggs</option>
                        <option>Water & Waste</option>
                        <option>Plastic & Paper</option>
                        <option>Clothes</option>
                        <option>Travel(Air, Bus, Train)</option>
                        <option>Building & Furniture</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12"></div>
            <!-- <div class="col-lg-1 col-md-12 col-sm-12 middle" style="font-size: 3em; text-align: center;">+</div> -->
            <div class="col-lg-5 col-md-6 col-sm-12 middle">
                <div class="form-group">
                    <!-- <label for="sel1">SELECT EMERGING TECHNOLOGY</label> -->
                    <select class="form-control ipborder" id="emergTech" name="techObject" style="font-size:1.3rem;"
                        required>
                        <option value="">and match!</option>
                        <option>Reduce</option>
                        <option>Reuse</option>
                        <option>Repair</option>
                        <option>Recycle</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <!-- <div class="col-lg-1 col-md-12 col-sm-12 middle" style="font-size: 3em;text-align: center;">=</div> -->
            <div class="col-lg-12 col-md-12 col-sm-12 middle">
                <div class="form-group" style="margin-top: 1rem;margin-bottom:1.5rem;">
                  <label for="comment">Your Crazy Combinations Idea (Max 10-15 Words)</label>
                  <input class="form-control ipborder" placeholder="Crazy Combination Idea" name="solution" maxlength="150" required></input>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="usr">Brand Name</label>
                  <input type="text" class="form-control ipborder" placeholder="Brand Name" name="brandName" maxlength="30" required>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                  <label for="usr">First Name</label>
                  <input type="text" class="form-control ipborder" name="teamName" placeholder="First Name" maxlength="20" required>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group">
                  <label for="usr">School Name</label>
                  <input type="text" class="form-control ipborder" name="school" placeholder="SchoolName" maxlength="40" required>
                </div>
              </div>
            </div>
            <div style="text-align:center;" lass="col-2">
              <button style="margin:auto;" type="submit" class="btn btn-lg btn-danger">Submit Idea</button>
            </div>
          </form>
    <% }else{ %>
    <h2>You have reached the limit of app storage... Please delete the data from <a
            href="sustainableSolution/view">dashboard</a></h2>
    <% } %>
</div>